
<section class="kzMoblieIndexNav">
    <div class="container full clearfix">
        <div class="span6">
            <a href="/" class="kzIndexNav kzIndexNav-1 active">首页</a>
        </div>
        <div class="span6">
            <a href="/member/index" class="kzIndexNav kzIndexNav-2">会员中心</a>
        </div>
    </div>
</section>
