@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>zhifu</title>
</head>
<body>
    <div>
        result=@ViewBag.str
    </div>
</body>
</html>
