@{
    Layout = null;
}

<form action="" method="post" class="form-horizontal" id="_ModalForm">
    <input type="hidden" name="id" value="@Request.QueryString["id"]" />
    <div id="Edit-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">会员审核</h4>
                </div>
                <div class="modal-body">
                    <div class="error-panel"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">账号</label>
                        <div class="col-sm-9">
                            <input type="text" value="@ViewBag.Account" id="Account" readonly="readonly" name="Account" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">VIP状态</label>
                        <div class="col-sm-9">
                            <input type="text" value="@ViewBag.vipstate" id="vipstate" readonly="readonly" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">充值时间</label>
                        <div class="col-sm-9">
                            <select name="VIPTime" id="VIPTime" class="form-control">
                                <option  value="1">一个月</option>
                                <option  value="2">半年</option>
                                <option value="3">一年</option>
                                <option  value="4">永久</option>
                            </select>
                        </div>
                    </div>
               
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" onclick="dosub()" class="btn btn-primary">提交</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</form>



@*<script src="~/Content/js/jquery-1.10.2.min.js"></script>*@
<script type="text/javascript">
    $('#Edit-modal').modal('show');
    function dosub() {
        var datamenu = $("#_ModalForm").serialize();
        $.post("/admin/Member/ChongZhiVIPPost", datamenu, function (res) {
            alert(res);
            location.reload();
        })
    }
</script>

