/*/.vs/
/*/Admin/bin/
/*/Admin/obj/
/*/bin/
/*/obj/
/*/BLL/bin/
/*/BLL/obj/
/*/CalcResult/bin/
/*/CalcResult/obj/
/*/ComEnum/bin/
/*/ComEnum/obj/
/*/Common/bin/
/*/Common/obj/
/*/DAL/bin/
/*/DAL/obj/
/*/Model/bin/
/*/Model/obj/
/*/SQLHelper/bin/
/*/SQLHelper/obj/
/*/UCommon/bin/
/*/UCommon/obj/