<header class="memberheader">
    <div class="container">
        <div class="logo">
            <a href="/" title="返回首页" style="display:none">
                <img src="/content/images/public/logo.png" >
            </a>
        </div>
        <p class="kzwelcomeUser">欢迎 @(new Yax.BLL.QuickData.CurrentUserMV().Account) 登陆商户系统！</p>
        <a class="kzQuitLogined" href="/Login/loginout">退出登录</a>
    </div>
</header>
