<footer class="footer">
    <div class="container-fluid container-footer">
        <ul class="list-inline">
            <li class="hidden-xs" style="max-width: 300px;">
            </li>
            <li style="max-width: 550px;">
                <p class="footer-muted em09">
                Copyright &copy;&nbsp;2020&nbsp;·&nbsp;<a href="/aca/index">记录青年生活</a></p>
                <div class="footer-contact hidden-xs"></div>
            </li>
            <li class="">
            </li>
        </ul>
        <div class="">
            <p class="footer-conter"></p>
        </div>
    </div>
</footer>
