
<div class="author-cover page-cover theme-box radius8 main-shadow">
    <img class="lazyload fit-cover" data-src="/Content/aca/images/girl.jpg">
    <div class="absolute page-mask"></div>
    <ul class="list-inline box-body page-cover-con">
        <li>
            <div class="avatar-img">
                <img alt='xiaoka' src="/Content/aca/images/head.jpeg" class='lazyload avatar avatar-96' height='96' width='96' />
            </div>
        </li>
        <li>
            <div>
                <b class="mr6">@(new BLL.CurrentUser().Account)</b>
                <a class="pay-vip but jb-red radius payvip-icon" href="" vip-level="1">
                    <i data-class="em12 mr3" data-viewBox="0 0 1024 1024" data-svg="vip_1" aria-hidden="true"></i>开通会员
                </a>
            </div>
            <div class="em09 page-desc">这家伙很懒，什么都没有写...</div>
        </li>
    </ul>
</div>