<nav nav-touch="left" class="mobile-navbar visible-xs-block scroll-y mini-scrollbar left">
    <a href="javascript:;" class="toggle-theme toggle-radius">
        <i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="theme" aria-hidden="true"></i>
    </a>
    <div class="posts-nav-box" data-title="文章目录"></div>
    <ul style="display:none" class="mobile-menus theme-box">
        <li>
            <a href="http://mqs.hk/wp-admin/nav-menus.php" class="signin-loader loaderbt">添加导航菜单</a>
        </li>
    </ul>
    <div class="sub-user-box theme-box">
        @{
            if (new BLL.CurrentUser().ID > 0)
            {
                <ul class="list-inline box-body">
                    <li>
                        <div class="avatar-img">
                            <img alt='xiaoka' src="/Content/aca/images/head.jpeg"
                                 class='lazyload avatar avatar-96'
                                 height='96' width='96' />
                        </div>
                    </li>
                    <li>
                        <div>
                             <b>@(new BLL.CurrentUser().Account)</b>
                        </div>
                        <div>
                            <a class="pay-vip but jb-red radius payvip-icon" href="javascript:;">
                                <i data-class="em12 mr3" data-viewBox="0 0 1024 1024" data-svg="vip_1"
                                   aria-hidden="true">
                                </i>
                                开通会员
                            </a>
                        </div>
                    </li>
                </ul>

                <div class="text-center mt10 mb10 header-user-href">
                    <a href="/member/index">
                        <div class="badg mb6 toggle-radius c-blue">
                            <i data-class="icon" data-viewBox="50 0 924 924" data-svg="user" aria-hidden="true">
                            </i>
                        </div>
                        <div class="c-blue">
                            个人中心
                        </div>
                    </a>
                    <a href="/Login/LoginOut" data-toggle="modal" >
                        <div class="badg mb6 toggle-radius c-red">
                            <i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="signout" aria-hidden="true">
                            </i>
                        </div>
                        <div class="c-red">
                            退出登录
                        </div>
                    </a>
                </div>
            }
            else
            {
                <div class="text-center mb10 header-user-href">
                    <a href="javascript:;" class="signin-loader">
                        <div class="badg mb6 toggle-radius c-blue">
                            <i data-class="icon" data-viewBox="50 0 924 924" data-svg="user" aria-hidden="true"></i>
                        </div><div class="c-blue">登录</div>
                    </a>
                    <a href="javascript:;" class="signup-loader">
                        <div class="badg mb6 toggle-radius c-green">
                            <i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="signup" aria-hidden="true"></i>
                        </div><div class="c-green">注册</div>
                    </a>
                    <a style="display:none" target="_blank" href="#this">
                        <div class="badg mb6 toggle-radius c-purple">
                            <i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="user_rp" aria-hidden="true"></i>
                        </div><div class="c-purple">找回密码</div>
                    </a>
                </div>
            }
        }

    </div>
    <div class="mobile-nav-widget">
    </div>
</nav>