
@{
    Layout = null;
}





<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ZFBPay</title>
</head>
<body>
    <div>
        @Html.Raw(ViewBag.res)
    </div>
</body>
</html>
