
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="Keywords" content="天巫漫画">
    <meta name="description" content="天巫漫画" />
    <title>天巫漫画</title>
    @{Html.RenderPartial("/views/PartV/HeadJC.cshtml");}
</head>

<body class="memberbody">
    <!--public header-->
    @{Html.RenderPartial("/views/PartV/MemberTop.cshtml");}

    <section class="kzmemberBT memberPaddingTop">
        <div class="container">
            当前位置:
            <a class="kzmemberBTLi" href="/member/index">绑定提现账户</a>
            <a class="kzmemberBTLi" href="#this">提现</a>
        </div>
    </section>

    <!--渠道统计-->
  

    <!--渠道代理列表-->
    <section class="kzagentList">
        <div class="container">
            <div class="kzagentInner">
                <div class="kzheader">提现</div>
                <table>
                    <tr>
                        <td class="kzleft">微信账号：</td>
                        <td class="kzright">
                            <input class="kzinput" id="wxbank" value="@ViewBag.ContactMan" placeholder="" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a class="kzsubBtn"  onclick="Subinfo()" href="#this">提交</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>


    @{Html.RenderPartial("/views/PartV/PhoneNav.cshtml");}
    <!--public footer-->
    @{Html.RenderPartial("/views/PartV/Footer.cshtml");}

    @{Html.RenderPartial("/views/PartV/FooterJC.cshtml");}

    <script>
        function Subinfo()
        {
            var wxbank = $("#wxbank").val();
            if (confirm('绑定后无法修改，您的微信号：' + wxbank))
            {
                $.post("/member/BindTiXianBankPost", "wxbank=" + wxbank, function (res) {
                    alert(res);
                })
            }
          
          
        }
    </script>
</body>

</html>