
<footer>
    <div class="container">
        <div class="kzfooterLinkBox clearfix">
            <div class="span6 col-xm-6 col-xs-12">
                <div class="kzfooterLi kzfooterLiNav wow fadeInLeft">
                    <h5 class="kzfooterLiTitle">
                        快速导航
                    </h5>
                    <ul class="kzfooterUl">
                        <li>
                            <a href="#this" >企业站</a>
                        </li>
                        <li>
                            <a href="#this" >商城</a>
                        </li>
                        <li>
                            <a href="#this" >源码下载</a>
                        </li>
                        <li>
                            <a href="#this" >免费资源</a>
                        </li>
                        <li>
                            <a href="#this">新闻中心</a>
                        </li>
                        <li>
                            <a href="#this" target="_blank">关于我们</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="span3 col-xm-6 col-xs-12">
                <div class="kzfooterLi kzfooterLiLink wow fadeInDown">
                    <h5 class="kzfooterLiTitle">
                        联系我们
                    </h5>
                    <ul class="kzfooterUl">
                        <li>
                            <span>电话:</span>
                            <a href="tel:13559213124">13559213124</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span3 col-xm-6 col-xs-12">
                <div class="kzfooterLi kzfooterLiWX wow fadeInRight">
                    <div class="kzimageWx">
                        <img style="width:150px;" src="/content/images/public/weixincode.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kzfooterCopy">
        版权所有：yax05网络科技有限公司   Copyright © 2019-2020 yax.site RIGHTS RESERVED  <span style="color:red"></span>
    </div>
</footer>