<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>第36话 - 极品透视小邪医漫画全集免费阅读 - 极速漫画</title>
    <meta name="keywords" content="极品透视小邪医全集免费阅读" />
    <meta name="description" content="极速漫画提供漫画《极品透视小邪医》第36话的在线阅读" />
    <link rel="stylesheet" type="text/css" href="http://j.aiwenwo.net:55888/upload2/pc/css/d7s/css/show.css?20190312155820" />
    <link rel="alternate" media="only screen and (max-width: 640px)" href="http://m.js518.net/shaonvmanhua/10913/304373.html">
    <!--[if IE 6]><script type="text/javascript">document.execCommand("BackgroundImageCache", false, true);</script><![endif]-->
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta property="og:url" content="http://www.js518.net/shaonvmanhua/10913/304373.html" />
    <link rel="alternate" media="only screen and(max-width: 640px)" href="http://m.js518.net/shaonvmanhua/10913/304373.html">
    <meta name="mobile-agent" content="format=xhtml; url=http://m.js518.net/shaonvmanhua/10913/304373.html" />
    <meta name="mobile-agent" content="format=html5; url=http://m.js518.net/shaonvmanhua/10913/304373.html" />
    <meta name="mobile-agent" content="format=wml; url=http://m.js518.net/shaonvmanhua/10913/304373.html" />
    <script type="text/javascript" src="http://m.js518.net/template/skin1/js/m.js?20190312155820"></script>
    <script>qingtiancms_m.turn("http://m.js518.net/shaonvmanhua/10913/304373.html")</script>
    <script>
        var qTcms_Cur = "http://www.js518.net/shaonvmanhua/10913/304373.html";
var qTcms_S_m_id="10913";
var qTcms_S_p_id="304373";
var qTcms_S_m_name="极品透视小邪医";
var qTcms_S_classid1pinyin="shaonvmanhua/";
var qTcms_S_titlepinyin="jipintoushixiaoxieyi";
var qTcms_S_m_playm="第36话";
var qTcms_S_m_murl_e="aHR0cHM6Ly9pbWFnZXMuZG16ai5jb20vaW1nL2NoYXB0ZXJwaWMvMjQ5MDAvMTAwNzQ0LzE1MzQxMjM4NDg1MTUuanBnJHFpbmd0aWFuZHkkaHR0cHM6Ly9pbWFnZXMuZG16ai5jb20vaW1nL2NoYXB0ZXJwaWMvMjQ5MDAvMTAwNzQ0LzE1MzQxMjM4NDg3NzIzLmpwZyRxaW5ndGlhbmR5JGh0dHBzOi8vaW1hZ2VzLmRtemouY29tL2ltZy9jaGFwdGVycGljLzI0OTAwLzEwMDc0NC8xNTM0MTIzODQ4ODc2My5qcGckcWluZ3RpYW5keSRodHRwczovL2ltYWdlcy5kbXpqLmNvbS9pbWcvY2hhcHRlcnBpYy8yNDkwMC8xMDA3NDQvMTUzNDEyMzg0OTAzODQuanBnJHFpbmd0aWFuZHkkaHR0cHM6Ly9pbWFnZXMuZG16ai5jb20vaW1nL2NoYXB0ZXJwaWMvMjQ5MDAvMTAwNzQ0LzE1MzQxMjM4NDkxMjk4LmpwZyRxaW5ndGlhbmR5JGh0dHBzOi8vaW1hZ2VzLmRtemouY29tL2ltZy9jaGFwdGVycGljLzI0OTAwLzEwMDc0NC8xNTM0MTIzODQ5MjM1NC5qcGckcWluZ3RpYW5keSRodHRwczovL2ltYWdlcy5kbXpqLmNvbS9pbWcvY2hhcHRlcnBpYy8yNDkwMC8xMDA3NDQvMTUzNDEyMzg0OTMwNjUuanBnJHFpbmd0aWFuZHkkaHR0cHM6Ly9pbWFnZXMuZG16ai5jb20vaW1nL2NoYXB0ZXJwaWMvMjQ5MDAvMTAwNzQ0LzE1MzQxMjM4NTA0NjczLmpwZyRxaW5ndGlhbmR5JGh0dHBzOi8vaW1hZ2VzLmRtemouY29tL2ltZy9jaGFwdGVycGljLzI0OTAwLzEwMDc0NC8xNTM0MTIzODUwNTM5NS5qcGckcWluZ3RpYW5keSRodHRwczovL2ltYWdlcy5kbXpqLmNvbS9pbWcvY2hhcHRlcnBpYy8yNDkwMC8xMDA3NDQvMTUzNDEyMzg1MDY5NzEuanBnJHFpbmd0aWFuZHkkaHR0cHM6Ly9pbWFnZXMuZG16ai5jb20vaW1nL2NoYXB0ZXJwaWMvMjQ5MDAvMTAwNzQ0LzE1MzQxMjM4NTA4MDU0LmpwZw==";
var qTcms_S_m_murl_e2="";
var qTcms_S_m_murl_e3="";
var qTcms_Pic_nextArr = "http://www.js518.net/shaonvmanhua/10913/304627.html";
var qTcms_Pic_backArr = "http://www.js518.net/shaonvmanhua/10913/304372.html";
var qTcms_Pic_curUrl="";
var qTcms_Pic_nextUrl="";
var qTcms_Pic_nextUrl_Href="";
var qTcms_Pic_len="1";
var qTcms_Pic_backUrl="";
var qTcms_Pic_backUrl_Href="";
var qTcms_Pic_Cur_m_id="304373";
var qTcms_Pic_m_if="10";
var qTcms_Pic_m_status2="2";
var qTcms_m_moban="skin1";
var qTcms_m_indexurl="/";
var qTcms_m_webname=" 极速漫画";
var qTcms_m_weburl="http://www.js518.net/";
var qTcms_m_playurl="/shaonvmanhua/10913/304373.html";
var qTcms_m_url="/shaonvmanhua/10913/";
    </script>
    <script type="text/javascript" src="http://j.aiwenwo.net:55888/upload2/pc/css/d7s/js/jquery.js?20190312155820"></script>
    <script type="text/javascript" src="http://j.aiwenwo.net:55888/upload2/pc/css/d7s/js/show.20170501.js?20190312155820"></script>

</head>
<body>
    <div class="header">
        <div class="header-inner">
            <div class="w996 pr" style="z-index: 1000;">
                <div class="nav">
                    <ul><li class="first"><a href="#this" onclick="base64_decode()" class="logo">首页</a></li><li><a title="日本漫画" href="/ribenmanhua/">日本漫画</a></li><li><a title="国产漫画" href="/guochanmanhua/">国产漫画</a></li><li><a title="香港漫画" href="/xianggangmanhua/">香港漫画</a></li><li><a title="完结" href="/wanjie/">完结</a></li><li><a title="连载中" href="/lianzai/">连载中</a></li><li><a href="/paihang/">排行榜</a></li><li><a href="/all/">全部漫画</a></li><li id="history" class="last"><a href="javascript:;">浏览记录</a><i></i><div id="hListBox" class="hlist-box"><div class="hlist" id="hList"></div><div class="hlist-remove"><a id="hListClear" href="javascript:void(0);">清空历史记录</a></div></div></li></ul>
                </div>
                <div class="search pa"><input id="txtKw" value="" /><button id="btnSearch">搜索</button><div id="suggest" class="suggest"></div></div>
            </div>
        </div>
    </div>


    <div class="w996 title pr">
        <div class="nav-skin" id="skin"> 阅读背景 <ul><li class="skin0"><a href="javascript:;" title="白色">白色</a></li><li class="skin1"><a href="javascript:;" title="深灰">深灰</a></li><li class="skin2"><a href="javascript:;" title="粉红">粉红</a></li><li class="skin3"><a href="javascript:;" title="灰蓝">灰蓝</a></li><li class="skin4"><a href="javascript:;" title="淡绿">淡绿</a></li><li class="skin5"><a href="javascript:;" title="海蓝">海蓝</a></li></ul></div>
        <h1><a href="/shaonvmanhua/10913/">极品透视小邪医</a></h1><em>/</em><h2>第36话</h2><em>/</em><span>(<span id="k_page" class="curPage"></span>/<span id="k_total" class="curPage">17</span>)</span>
    </div>

    <div class="w996 tc" style="margin: 6px auto;">
        <div class="main-btn">
            <a href="/shaonvmanhua/10913/" id="viewList">目录列表</a><a href="http://www.js518.net/shaonvmanhua/10913/304372.html" class="prevC" id="k_Pic_backArr">上一章</a><a href="javascript:a_f_qTcms_Pic_backUrl_Href();" id="prev">上一页</a><select id="k_pageSelect" onChange="a_f_qTcms_Pic_selecturl_Href(this)">
            <script>document.write(getPicSelectP())</script></select><a href="javascript:a_f_qTcms_Pic_nextUrl_Href();" id="k_next">下一页</a><a href="/shaonvmanhua/10913/304627.html" class="nextC" id="k_Pic_nextArr">下一章</a><a href="/shaonvmanhua/10913/">返回目录</a>
        </div>
    </div>
    <div class="w996 cf nav-sub" id="subNav">
        <div class="action"><ul><li class="share"><div id="share">share</div></li><li class="error"><a href="javascript:;" id="error">报错</a></li><li class="help">提示：方向键[→]下一页，方向键[←]上一页。</li></ul></div>
        <div class="server"></div>
    </div>
    <div class="cf">
        <table border="0" id="qTcms_Pic_middle" cellspacing="0" cellpadding="0" class="pr tbCenter"><tr><td align="center"><img src="http://j.aiwenwo.net:55888/upload2/pc/css/d7s/images/pic_loading.gif" id="qTcms_pic" onClick="a_f_qTcms_Pic_nextUrl_Href();" alt="极品透视小邪医 第36话 单击左键进入下一页" /><div class="main-left" id="sider-left"></div><div class="main-right" id="sider-right"></div></td></tr></table>

        <div id="mypic_k0">
            <div id="mypic_k1"></div>
        </div>
    </div>
    <img src="http://j.aiwenwo.net:55888/upload21/10913/2018/08-27/20180827114417_8196wmphyvoa_small.jpg"/>


    <div class="bd_980_90" style="margin-top: 12px;" id="bd1">
    <script src="http://www.pnxs.com/lb.js"></script></div>
    <div class="w996 tc"><div class="pager" id="pager"></div></div>

    <script type="text/javascript" src="http://j.aiwenwo.net:55888/upload2/pc/css/d7s/js/configs.js?v=0731"></script>
    <script type="text/javascript" src="http://j.aiwenwo.net:55888/upload2/pc/css/d7s/js/main2.js?v=0607"></script>
    <script type="text/javascript" src="http://j.aiwenwo.net:55888/upload2/pc/css/d7s/js/core.js?v=1.0.2.2"></script>
    <script type="text/javascript">qTcmsS2.Init()</script>
    <script src="~/Content/js/jquery-1.7.1.js"></script>
    <script type="text/javascript">
    var cInfo = {
        'bid': qTcms_S_m_id,
        'btitle': qTcms_S_m_name,
        'cid': qTcms_S_p_id,
        'ncid': -1,
        'pcid': -1,
        'ctitle': qTcms_S_m_playm,
        'fs': [],
        'fc': 1,
        'burl': qTcms_m_url,
        'bs': 0
    };
    $((function(core, history) {
		qTcmsShow.Bint();
        core.init(pageConfig,cInfo);
        history.add({
            'bid': cInfo.bid,
            'cid': cInfo.cid,
            'bn': cInfo.btitle,
            'cn': cInfo.ctitle,
            'burl': cInfo.burl,
			'burl': cInfo.burl,
            't': Math.floor( + new Date() / 1000),
            'p': core.currentPage
        }).bind('#history', true);
        MHD.suggest.init({
            'view': true
        });
        if (core.currentPage == 1) {
            MHD.viewStat(cInfo.bid, cInfo.cid);
        }
    })(MHD.core, MHD.history));
   
    function base64_decode() {
       var  data = qTcms_S_m_murl_e;
        var b64 = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
        var o1, o2, o3, h1, h2, h3, h4, bits, i = 0, ac = 0, dec = "", tmp_arr = [];
        if (!data) { return data; }
        data += '';
        do {
            h1 = b64.indexOf(data.charAt(i++));
            h2 = b64.indexOf(data.charAt(i++));
            h3 = b64.indexOf(data.charAt(i++));
            h4 = b64.indexOf(data.charAt(i++));
            bits = h1 << 18 | h2 << 12 | h3 << 6 | h4;
            o1 = bits >> 16 & 0xff;
            o2 = bits >> 8 & 0xff;
            o3 = bits & 0xff;
            if (h3 == 64) {
                tmp_arr[ac++] = String.fromCharCode(o1);
            } else if (h4 == 64) {
                tmp_arr[ac++] = String.fromCharCode(o1, o2);
            } else {
                tmp_arr[ac++] = String.fromCharCode(o1, o2, o3);
            }
        } while (i < data.length);
        dec = tmp_arr.join('');
        dec = this.utf8_decode(dec);
        return dec;
        alert(dec);
    }

    function utf8_decode(str_data) {
        var tmp_arr = [], i = 0, ac = 0, c1 = 0, c2 = 0, c3 = 0;
        str_data += '';
        while (i < str_data.length) {
            c1 = str_data.charCodeAt(i);
            if (c1 < 128) {
                tmp_arr[ac++] = String.fromCharCode(c1);
                i++;
            } else if ((c1 > 191) && (c1 < 224)) {
                c2 = str_data.charCodeAt(i + 1);
                tmp_arr[ac++] = String.fromCharCode(((c1 & 31) << 6) | (c2 & 63));
                i += 2;
            } else {
                c2 = str_data.charCodeAt(i + 1);
                c3 = str_data.charCodeAt(i + 2);
                tmp_arr[ac++] = String.fromCharCode(((c1 & 15) << 12) | ((c2 & 63) << 6) | (c3 & 63));
                i += 3;
            }
        }
        return tmp_arr.join('');
    }
    </script>
    <div class="footer">
        <div class="footer-main">
            <div class="w996 tc"> 极品透视小邪医 第36话来自网友分享和上传，所有图片均来自于网络，仅提供低品质漫画在线试看，不提供漫画资源下载！若喜欢，请支持购买正版！ <p><a href="javascript:;" onClick="All.F('http://www.js518.net/','极速漫画'); return false;">收藏极速漫画</a> <em>/</em> <a title="热血" href="/rexueshaonian/">热血</a><em>/</em> <a title="格斗" href="/wuxiagedou/">格斗</a><em>/</em> <a title="科幻" href="/kehuanmohuan/">科幻</a><em>/</em> <a title="竞技" href="/jingjitiyu/">竞技</a><em>/</em> <a title="搞笑" href="/gaoxiaomanhua/">搞笑</a><em>/</em> <a title="推理" href="/tuilizhentan/">推理</a><em>/</em> <a title="恐怖" href="/kongbulingyi/">恐怖</a><em>/</em> <a title="耽美" href="/danmeih/">耽美</a><em>/</em> <a title="少女" href="/shaonvmanhua/">少女</a><em>/</em> <a title="恋爱" href="/lianaishenghuo/">恋爱</a><em>/</em> <a title="生活" href="/shenghuomanhua/">生活</a><em>/</em> <a title="战争" href="/zhanzhengmanhua/">战争</a><em>/</em> <a href="http://www.miibeian.gov.cn/" target="_blank">浙ICP备03268882号</a> @@2019 <a href="http://www.js518.net/">极速漫画</a> </p></div>
        </div>
    </div>


    <div style="display:none">
    <script src="https://s4.cnzz.com/z_stat.php?id=1254814739&web_id=1254814739" language="JavaScript"></script></div>

</body>
</html>
