/**
 * 出海玩 配置lightseagreen
 */

//主色
$mainColor:#288BE9; 

//导航主色
$navColor:lightseagreen;

//登录按钮
$loginColor:#FFCA08;

//标题导航
$titleColor:#F69246;

//侧边导航背景图片
$asideBgGroundImg:url(../images/public/aside.jpg);
