/**
 * 饭票网  配置
 */
//主色
$mainColor:#F15A22;

//导航主色
$navColor:lightseagreen;

//登录按钮
$loginColor:#FFCA08;

//标题导航
$titleColor:#F15A22;

//侧边导航背景图片
$asideBgGroundImg:url(../images/public/asideBG.jpg);
