
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="dns-prefetch" href="//apps.bdimg.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=0.0">
    <meta http-equiv=”Cache-Control” content=”no-transform” />
    <meta http-equiv=”Cache-Control” content=”no-siteapp” />
    <title>更优雅的Wordpress网站主题-Zibll子比主题-子比主题官方网站</title>
    <meta name="keywords" content="Zibll主题,子比主题,Wordpress主题,自媒体,网站建设,个人博客,网页模板,企业网站">
    <meta name="description" content="Zibll子比主题专为博客、自媒体、资讯类的网站设计开发，采用简约优雅的设计风格让网站更具美感，创新的前端模块化功能配置和全面的前端用户功能，使子比主题成为更适合现代化网站的优雅主题！">
    <link rel='dns-prefetch' href='//www.zibll.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel='stylesheet' id='wp-block-library-css' href='https://www.zibll.com/wp-includes/css/dist/block-library/style.min.css?ver=5.3.4' type='text/css' media='all' />
    <link rel='stylesheet' id='_bootstrap-css' href='https://www.zibll.com/wp-content/themes/zibll/css/bootstrap.min.css?ver=3.2' type='text/css' media='all' />
    <link rel='stylesheet' id='_fontawesome-css' href='https://www.zibll.com/wp-content/themes/zibll/css/font-awesome.min.css?ver=3.2' type='text/css' media='all' />
    <link rel='stylesheet' id='_main-css' href='https://www.zibll.com/wp-content/themes/zibll/css/main.css?ver=3.2' type='text/css' media='all' />
    <script type='text/javascript' src='https://www.zibll.com/wp-content/themes/zibll/js/libs/jquery.min.js?ver=3.2'></script>
    <link rel='shortcut icon' href='https://oss.zibll.com/zibll.com/2020/03/favicon-1.png'>
    <link rel='icon' href='https://oss.zibll.com/zibll.com/2020/03/favicon-1.png'>
    <link rel='apple-touch-icon-precomposed' href='https://oss.zibll.com/zibll.com/2020/03/icon-1.png'>
    <meta name='msapplication-TileImage' content='https://oss.zibll.com/zibll.com/2020/03/icon-1.png'>
    <style>
:root{--mian-max-width:1200px;}.enlighter-default{max-height:400px;overflow-y:auto !important;}.enlighter-toolbar{display:none !important;}@media (max-width:640px) {
		.meta-right .meta-like{
			display: unset !important;
		}
	}</style>
    <meta name='apple-mobile-web-app-title' content='Zibll子比主题'><!--[if IE]><script src="https://www.zibll.com/wp-content/themes/zibll/js/libs/html5.min.js"></script><![endif]-->
</head>
<body class="home blog white-theme nav-fixed site-layout-1">
    <header class="header header-layout-1">
        <nav class="navbar navbar-top center">
            <div class="container-fluid container-header">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <a class="navbar-logo" href="https://www.zibll.com" title="更优雅的Wordpress网站主题-Zibll子比主题-子比主题官方网站">
                            <img src="https://oss.zibll.com/zibll.com/2020/03/logo.png" switch-src="https://www.zibll.com/wp-content/themes/zibll/img/logo_dark.png" alt="更优雅的Wordpress网站主题-Zibll子比主题-子比主题官方网站" height="50">
                        </a>
                    </div>
                    <button type="button" data-toggle-class data-target=".mobile-navbar" class="navbar-toggle"><i data-class="icon em12" data-viewBox="0 0 1024 1024" data-svg="menu" aria-hidden="true"></i></button><button type="button" data-toggle-class data-target=".navbar-search" class="navbar-toggle"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="search" aria-hidden="true"></i></button>
                </div> <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li id="menu-item-638" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-638"><a href="https://www.zibll.com/pay-zibll">购买主题</a></li>
                        <li id="menu-item-98" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-98"><a href="https://demo.zibll.com">主题演示</a></li>
                        <li id="menu-item-73" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73"><a href="https://www.zibll.com/xingongneng">需求提交</a></li>
                        <li id="menu-item-97" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-97"><a href="https://www.zibll.com/bug-feedback">BUG反馈</a></li>
                        <li id="menu-item-67" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-67">
                            <a href="https://www.zibll.com/zibll_word">主题文档</a>
                            <ul class="sub-menu">
                                <li id="menu-item-70" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-70"><a href="https://www.zibll.com/zibll_word/install_tutorial">安装教程</a></li>
                                <li id="menu-item-68" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-68"><a href="https://www.zibll.com/zibll_word/theme_config">主题配置</a></li>
                                <li id="menu-item-69" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-69"><a href="https://www.zibll.com/zibll_word/%e5%8f%a4%e8%85%be%e5%a0%a1%e7%bc%96%e8%be%91%e5%99%a8">古腾堡编辑器</a></li>
                                <li id="menu-item-71" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-71"><a href="https://www.zibll.com/zibll_word/extensions">扩展功能</a></li>
                            </ul>
                        </li>
                    </ul><div class="navbar-form navbar-right navbar-but">
                        <a target="_blank" href="https://www.zibll.com/new-posts" class="but jb-blue radius start-new-posts">写文章</a><span class="hover-show">
                            <a class="signin-loader but jb-red radius payvip-icon ml10" href="javascript:;"><i data-class="em12 mr3" data-viewBox="0 0 1024 1024" data-svg="vip_1" aria-hidden="true"></i>开通会员</a><div class="sub-menu hover-show-con sub-vip-card">
                                <div class="vip-card pointer level-1 vip-theme1 signin-loader" vip-level="1">
                                    <div class="abs-center vip-baicon"><i class="fa fa-star-o" aria-hidden="true"></i></div><div class="vip-name mb10"><span class="mr6"><i class="fa fa-star-o" aria-hidden="true"></i></span>黄金会员</div><ul class="mb10">
                                        <li>全站资源折扣购买</li>
                                        <li>部分内容免费阅读</li>
                                        <li>一对一技术指导</li>
                                        <li>VIP用户专属QQ群</li>
                                    </ul><a class="but jb-blue radius payvip-button">开通黄金会员</a><div class="vip-img abs-right"><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                </div><div class="vip-card pointer level-2 vip-theme2 signin-loader" vip-level="2">
                                    <div class="abs-center vip-baicon"><i class="fa fa-diamond" aria-hidden="true"></i></div><div class="vip-name mb10"><span class="mr6"><i class="fa fa-diamond" aria-hidden="true"></i></span>钻石会员</div><ul class="mb10">
                                        <li>全站资源免费下载</li>
                                        <li>付费内容免费阅读</li>
                                        <li>一对一技术指导</li>
                                        <li>VIP用户专属QQ群</li>
                                    </ul><a class="but jb-blue radius payvip-button">开通钻石会员</a><div class="vip-img abs-right"><i class="fa fa-diamond" aria-hidden="true"></i></div>
                                </div>
                            </div>
                        </span>
                    </div><div class="navbar-form navbar-right">
                        <a href="javascript:;" class="toggle-theme toggle-radius"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="theme" aria-hidden="true"></i></a>
                    </div>
                    <div class="navbar-form navbar-right">
                        <ul class="list-inline splitters relative">
                            <li>
                                <a href="javascript:;" class="btn signin-loader"><i data-class="icon" data-viewBox="50 0 924 924" data-svg="user" aria-hidden="true"></i></a>
                                <ul class="sub-menu">
                                    <div class="sub-user-box theme-box"><div class="text-center mb10 header-user-href"><a href="javascript:;" class="signin-loader"><div class="badg mb6 toggle-radius c-blue"><i data-class="icon" data-viewBox="50 0 924 924" data-svg="user" aria-hidden="true"></i></div><div class="c-blue">登录</div></a><a href="javascript:;" class="signup-loader"><div class="badg mb6 toggle-radius c-green"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="signup" aria-hidden="true"></i></div><div class="c-green">注册</div></a><a target="_blank" href="https://www.zibll.com/resetpassword"><div class="badg mb6 toggle-radius c-purple"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="user_rp" aria-hidden="true"></i></div><div class="c-purple">找回密码</div></a></div><p class="social-separator separator muted-3-color em09">快速登录</p><div class="social_loginbar"><a title="QQ登录" href="https://www.zibll.com/oauth/qq?rurl=https://www.zibll.com/" class="social-login-item qq button-lg"><i class="fa fa-qq"></i>QQ登录</a><a title="GitHub登录" href="https://www.zibll.com/oauth/github?rurl=https://www.zibll.com/" class="social-login-item github button-lg"><i class="fa fa-github"></i>GitHub登录</a></div></div>
                                </ul>
                            </li>
                            <li class="relative">
                                <a href="javascript:;" data-toggle-class data-target=".navbar-search" class="btn nav-search-btn"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="search" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="fixed-body main-bg box-body navbar-search">
        <div class="theme-box"><button class="close" data-toggle-class data-target=".navbar-search"><i data-svg="close" data-class="ic-close" data-viewbox="0 0 1024 1024"></i></button></div><div class="box-body">
            <div class="search-input">
                <form method="get" class="relative line-form" action="https://www.zibll.com/">
                    <div class="search-input-cat option-dropdown splitters-this-r show-more-cat">
                        <span class="text-ellipsis" name="cat">选择分类</span>
                        <input type="hidden" name="cat" tabindex="1" value="">
                        <i class="fa fa-fw fa-sort ml6" aria-hidden="true"></i>
                        <div class="option-dropdown-items main-shadow radius8 main-bg scroll-y mini-scrollbar">
                            <a class="text-ellipsis" data-for="cat" data-value="117">主题功能</a><a class="text-ellipsis" data-for="cat" data-value="18">主题文档</a><a class="text-ellipsis" data-for="cat" data-value="20">主题配置</a><a class="text-ellipsis" data-for="cat" data-value="23">古腾堡编辑器</a><a class="text-ellipsis" data-for="cat" data-value="28">子比主题</a><a class="text-ellipsis" data-for="cat" data-value="19">安装教程</a><a class="text-ellipsis" data-for="cat" data-value="22">扩展功能</a>
                        </div>
                    </div>
                    <input type="text" name="s" class="line-form-input" tabindex="2" placeholder="开启精彩搜索">
                    <div class="abs-right muted-color">
                        <button type="submit" tabindex="3" class="null"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="search" aria-hidden="true"></i></button>
                    </div>
                    <i class="line-form-line"></i>
                </form>
                <div class="search-input box-body">
                    <p class="muted-color">热门搜索：</p>
                    <div class="text-center">
                        <a class="search_keywords muted-2-color ml10" href="https://www.zibll.com/?s=教程">教程</a><a class="search_keywords muted-2-color ml10" href="https://www.zibll.com/?s=https">https</a><a class="search_keywords muted-2-color ml10" href="https://www.zibll.com/?s=子比">子比</a><a class="search_keywords muted-2-color ml10" href="https://www.zibll.com/?s=qq">qq</a><a class="search_keywords muted-2-color ml10" href="https://www.zibll.com/?s=css">css</a><a class="search_keywords muted-2-color ml10" href="https://www.zibll.com/?s=静态">静态</a><a class="search_keywords muted-2-color ml10" href="https://www.zibll.com/?s=投稿">投稿</a><a class="search_keywords muted-2-color ml10" href="https://www.zibll.com/?s=模块">模块</a><a class="search_keywords muted-2-color ml10" href="https://www.zibll.com/?s=古腾堡">古腾堡</a><a class="search_keywords muted-2-color ml10" href="https://www.zibll.com/?s=更新">更新</a><a class="search_keywords muted-2-color ml10" href="https://www.zibll.com/?s=0">0</a><a class="search_keywords muted-2-color ml10" href="https://www.zibll.com/?s=1">1</a><a class="search_keywords muted-2-color ml10" href="https://www.zibll.com/?s=授权">授权</a><a class="search_keywords muted-2-color ml10" href="https://www.zibll.com/?s=购买">购买</a><a class="search_keywords muted-2-color ml10" href="https://www.zibll.com/?s=幻灯片">幻灯片</a><a class="search_keywords muted-2-color ml10" href="https://www.zibll.com/?s=高亮">高亮</a><a class="search_keywords muted-2-color ml10" href="https://www.zibll.com/?s=友情链接">友情链接</a><a class="search_keywords muted-2-color ml10" href="https://www.zibll.com/?s=SMTP">SMTP</a><a class="search_keywords muted-2-color ml10" href="https://www.zibll.com/?s=弹窗">弹窗</a>
                    </div>
                </div>
            </div>
        </div>
    </div> <div class="mobile-header">
        <nav nav-touch="left" class="mobile-navbar visible-xs-block scroll-y mini-scrollbar left">
            <a href="javascript:;" class="toggle-theme toggle-radius"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="theme" aria-hidden="true"></i></a><ul class="mobile-menus theme-box">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-638"><a href="https://www.zibll.com/pay-zibll">购买主题</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-98"><a href="https://demo.zibll.com">主题演示</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73"><a href="https://www.zibll.com/xingongneng">需求提交</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-97"><a href="https://www.zibll.com/bug-feedback">BUG反馈</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-67">
                    <a href="https://www.zibll.com/zibll_word">主题文档</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-70"><a href="https://www.zibll.com/zibll_word/install_tutorial">安装教程</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-68"><a href="https://www.zibll.com/zibll_word/theme_config">主题配置</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-69"><a href="https://www.zibll.com/zibll_word/%e5%8f%a4%e8%85%be%e5%a0%a1%e7%bc%96%e8%be%91%e5%99%a8">古腾堡编辑器</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-71"><a href="https://www.zibll.com/zibll_word/extensions">扩展功能</a></li>
                    </ul>
                </li>
            </ul><div class="posts-nav-box" data-title="文章目录"></div><div class="sub-user-box theme-box"><div class="text-center mb10 header-user-href"><a href="javascript:;" class="signin-loader"><div class="badg mb6 toggle-radius c-blue"><i data-class="icon" data-viewBox="50 0 924 924" data-svg="user" aria-hidden="true"></i></div><div class="c-blue">登录</div></a><a href="javascript:;" class="signup-loader"><div class="badg mb6 toggle-radius c-green"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="signup" aria-hidden="true"></i></div><div class="c-green">注册</div></a><a target="_blank" href="https://www.zibll.com/resetpassword"><div class="badg mb6 toggle-radius c-purple"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="user_rp" aria-hidden="true"></i></div><div class="c-purple">找回密码</div></a></div><p class="social-separator separator muted-3-color em09">快速登录</p><div class="social_loginbar"><a title="QQ登录" href="https://www.zibll.com/oauth/qq?rurl=https://www.zibll.com/" class="social-login-item qq button-lg"><i class="fa fa-qq"></i>QQ登录</a><a title="GitHub登录" href="https://www.zibll.com/oauth/github?rurl=https://www.zibll.com/" class="social-login-item github button-lg"><i class="fa fa-github"></i>GitHub登录</a></div></div><div class="mobile-nav-widget"></div>
        </nav>
        <div class="fixed-body" data-close=".mobile-navbar"></div>
    </div>
    <div class="container fluid-widget"></div><main role="main" class="container">
        <div class="relative zib-slider theme-box">
            <div class="new-swiper swiper-c slide-index" data-effect="slide" data-loop="true" data-interval="5000" data-spaceBetween="15" style="--m-height :160px;--pc-height :400px;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide ">
                        <div class="s-desc"><p class="em14"></p></div><a target="_blank" href="https://www.zibll.com/pay-zibll">
                            <img class="lazyload swiper-lazy radius8" data-src="https://oss.zibll.com/zibll.com/2020/04/zhifu-2.jpg" src="https://www.zibll.com/wp-content/themes/zibll/img/thumbnail-lg.svg">
                        </a>
                    </div><div class="swiper-slide ">
                        <div class="s-desc"><p class="em14"></p></div><a target="_blank" href="https://www.zibll.com/689.html">
                            <img class="lazyload swiper-lazy radius8" data-src="https://oss.zibll.com/zibll.com/2020/04/gutengbao.jpg" src="https://www.zibll.com/wp-content/themes/zibll/img/thumbnail-lg.svg">
                        </a>
                    </div><div class="swiper-slide ">
                        <div class="s-desc"><p class="em14"></p></div><a target="_blank" href="https://www.zibll.com/pay-zibll">
                            <img class="lazyload swiper-lazy radius8" data-src="https://oss.zibll.com/zibll.com/2020/03/正式版已发布.jpg" src="https://www.zibll.com/wp-content/themes/zibll/img/thumbnail-lg.svg">
                        </a>
                    </div><div class="swiper-slide ">
                        <div class="s-desc"><p class="em14"></p></div><a>
                            <img class="lazyload swiper-lazy radius8" data-src="https://oss.zibll.com/zibll.com/2020/03/sinder-3.jpg" src="https://www.zibll.com/wp-content/themes/zibll/img/thumbnail-lg.svg">
                        </a>
                    </div>
                </div><div class="swiper-button-prev"></div><div class="swiper-button-next"></div><div class="swiper-pagination kaoyou"></div>
            </div>
        </div>
        <div class="content-wrap">
            <div class="content-layout">
                <div class="index-tab">
                    <ul class="scroll-x mini-scrollbar">
                        <li class="active"><a data-toggle="tab" href="#index-tab-1">最新发布</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="ajaxpager tab-pane fade in active" id="index-tab-1">
                        <posts class="posts-item ajax-item main-shadow radius8 card">
                            <a class="item-thumbnail" href="https://www.zibll.com/375.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/03/01-419x300.jpg" alt="Zibll子比主题-最新版本V3.3更新-全新的VIP会员系统[7.15]-Zibll子比主题" class="lazyload fit-cover radius8"></a><div class="item-body">
                                <h5 class="item-heading text-ellipsis-2">
                                    <a href="https://www.zibll.com/375.html">Zibll子比主题-最新版本V3.3更新-全新的VIP会员系统[7.15]<span class="focus-color">[更新日志]</span></a>
                                </h5>
                                <p class="item-tags scroll-x mini-scrollbar"><a class="but c-red but-ripple"><i class="fa fa-heart-o" aria-hidden="true"></i>置顶推荐</a><a class="but c-blue" title="查看更多分类文章" href="https://www.zibll.com/introduction"><i class="fa fa-folder-open-o" aria-hidden="true"></i>子比主题</a><a href="https://www.zibll.com/tag/zibll" title="查看此标签更多文章" class="but"># Zibll</a><a href="https://www.zibll.com/tag/%e5%ad%90%e6%af%94%e4%b8%bb%e9%a2%98" title="查看此标签更多文章" class="but"># 子比主题</a><a href="https://www.zibll.com/tag/%e4%bb%98%e8%b4%b9%e9%98%85%e8%af%bb" title="查看此标签更多文章" class="but"># 付费阅读</a></p><div class="item-meta muted-3-color"><item class="meta-author"><span class="icon-circle">6天前</span></item><div class="meta-right pull-right"><item class="meta-comm"><a data-toggle="tooltip" title="去评论" href="https://www.zibll.com/375.html#comments"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="comment" aria-hidden="true"></i>12</a></item><item class="meta-view"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="view" aria-hidden="true"></i>1W+</item><item class="meta-like"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="like" aria-hidden="true"></i>164</item></div></div>
                            </div>
                        </posts><posts class="posts-item ajax-item main-shadow radius8 card">
                            <a class="item-thumbnail" href="https://www.zibll.com/580.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/03/zhifu-3-428x300.jpg" alt="Zibll子比主题付费阅读、付费资源功能详解-Zibll子比主题" class="lazyload fit-cover radius8"></a><div class="item-body">
                                <h5 class="item-heading text-ellipsis-2">
                                    <a href="https://www.zibll.com/580.html">Zibll子比主题付费阅读、付费资源功能详解<span class="focus-color">[图文教程]</span></a>
                                </h5>
                                <p class="item-tags scroll-x mini-scrollbar"><a class="but c-red but-ripple"><i class="fa fa-heart-o" aria-hidden="true"></i>置顶推荐</a><a class="but c-blue" title="查看更多分类文章" href="https://www.zibll.com/introduction"><i class="fa fa-folder-open-o" aria-hidden="true"></i>子比主题</a><a href="https://www.zibll.com/tag/zibll" title="查看此标签更多文章" class="but"># Zibll</a><a href="https://www.zibll.com/tag/%e5%ad%90%e6%af%94%e4%b8%bb%e9%a2%98" title="查看此标签更多文章" class="but"># 子比主题</a><a href="https://www.zibll.com/tag/%e4%bb%98%e8%b4%b9%e9%98%85%e8%af%bb" title="查看此标签更多文章" class="but"># 付费阅读</a></p><div class="item-meta muted-3-color"><item class="meta-author"><span class="icon-circle">10天前</span></item><div class="meta-right pull-right"><item class="meta-comm"><a data-toggle="tooltip" title="去评论" href="https://www.zibll.com/580.html#comments"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="comment" aria-hidden="true"></i>5</a></item><item class="meta-view"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="view" aria-hidden="true"></i>4190</item><item class="meta-like"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="like" aria-hidden="true"></i>117</item></div></div>
                            </div>
                        </posts><posts class="posts-item ajax-item main-shadow radius8 card">
                            <a class="item-thumbnail" href="https://www.zibll.com/886.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/07/主题教程-480x300.jpg" alt="Zibll子比主题-海报分享功能简介以及图片跨域问题解决方法-Zibll子比主题" class="lazyload fit-cover radius8"></a><div class="item-body">
                                <h5 class="item-heading text-ellipsis-2">
                                    <a href="https://www.zibll.com/886.html">Zibll子比主题-海报分享功能简介以及图片跨域问题解决方法<span class="focus-color"></span></a>
                                </h5>
                                <p class="item-tags scroll-x mini-scrollbar"><a class="but c-blue" title="查看更多分类文章" href="https://www.zibll.com/zibll_word/extensions"><i class="fa fa-folder-open-o" aria-hidden="true"></i>扩展功能</a><a href="https://www.zibll.com/tag/zibll" title="查看此标签更多文章" class="but"># Zibll</a><a href="https://www.zibll.com/tag/%e5%ad%90%e6%af%94%e4%b8%bb%e9%a2%98" title="查看此标签更多文章" class="but"># 子比主题</a><a href="https://www.zibll.com/tag/wordpress" title="查看此标签更多文章" class="but"># Wordpress</a></p><div class="item-meta muted-3-color"><item class="meta-author"><span class="icon-circle">6天前</span></item><div class="meta-right pull-right"><item class="meta-comm"><a data-toggle="tooltip" title="去评论" href="https://www.zibll.com/886.html#respond"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="comment" aria-hidden="true"></i>0</a></item><item class="meta-view"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="view" aria-hidden="true"></i>206</item><item class="meta-like"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="like" aria-hidden="true"></i>13</item></div></div>
                            </div>
                        </posts><posts class="posts-item ajax-item main-shadow radius8 card">
                            <a class="item-thumbnail" href="https://www.zibll.com/28.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/03/sinder-1-600x300.jpg" alt="Wordpress博客资讯类主题-Zibll子比主题-Zibll子比主题" class="lazyload fit-cover radius8"><div class="abs-right radius"><i class="fa fa-image"></i> 0</div></a><div class="item-body">
                                <h5 class="item-heading text-ellipsis-2">
                                    <a href="https://www.zibll.com/28.html">WordPress博客资讯类主题-Zibll子比主题<span class="focus-color">[主题介绍]</span></a>
                                </h5>
                                <p class="item-tags scroll-x mini-scrollbar"><a class="but c-blue" title="查看更多分类文章" href="https://www.zibll.com/introduction"><i class="fa fa-folder-open-o" aria-hidden="true"></i>子比主题</a><a href="https://www.zibll.com/tag/zibll" title="查看此标签更多文章" class="but"># Zibll</a><a href="https://www.zibll.com/tag/%e5%ad%90%e6%af%94%e4%b8%bb%e9%a2%98" title="查看此标签更多文章" class="but"># 子比主题</a><a href="https://www.zibll.com/tag/wordpress" title="查看此标签更多文章" class="but"># Wordpress</a></p><div class="item-meta muted-3-color"><item class="meta-author"><span class="icon-circle">6天前</span></item><div class="meta-right pull-right"><item class="meta-comm"><a data-toggle="tooltip" title="去评论" href="https://www.zibll.com/28.html#comments"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="comment" aria-hidden="true"></i>4</a></item><item class="meta-view"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="view" aria-hidden="true"></i>4631</item><item class="meta-like"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="like" aria-hidden="true"></i>252</item></div></div>
                            </div>
                        </posts><posts class="posts-item ajax-item main-shadow radius8 card">
                            <a class="item-thumbnail" href="https://www.zibll.com/872.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/03/主题教程-1-600x375.jpg" alt="Zibll子比主题-方便快捷的前端页面设置功能简介-Zibll子比主题" class="lazyload fit-cover radius8"></a><div class="item-body">
                                <h5 class="item-heading text-ellipsis-2">
                                    <a href="https://www.zibll.com/872.html">Zibll子比主题-方便快捷的前端页面设置功能简介<span class="focus-color">[教程]</span></a>
                                </h5>
                                <p class="item-tags scroll-x mini-scrollbar"><a class="but c-blue" title="查看更多分类文章" href="https://www.zibll.com/zibll_word/%e4%b8%bb%e9%a2%98%e5%8a%9f%e8%83%bd"><i class="fa fa-folder-open-o" aria-hidden="true"></i>主题功能</a><a href="https://www.zibll.com/tag/zibll" title="查看此标签更多文章" class="but"># Zibll</a><a href="https://www.zibll.com/tag/%e5%ad%90%e6%af%94%e4%b8%bb%e9%a2%98" title="查看此标签更多文章" class="but"># 子比主题</a><a href="https://www.zibll.com/tag/wordpress" title="查看此标签更多文章" class="but"># Wordpress</a></p><div class="item-meta muted-3-color"><item class="meta-author"><span class="icon-circle">10天前</span></item><div class="meta-right pull-right"><item class="meta-comm"><a data-toggle="tooltip" title="去评论" href="https://www.zibll.com/872.html#comments"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="comment" aria-hidden="true"></i>1</a></item><item class="meta-view"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="view" aria-hidden="true"></i>489</item><item class="meta-like"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="like" aria-hidden="true"></i>27</item></div></div>
                            </div>
                        </posts><posts class="posts-item ajax-item main-shadow radius8 card">
                            <a class="item-thumbnail" href="https://www.zibll.com/46.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/03/安装教程-600x375.jpg" alt="子比主题详细安装教程/更新教程/首次配置指南-Zibll子比主题" class="lazyload fit-cover radius8"></a><div class="item-body">
                                <h5 class="item-heading text-ellipsis-2">
                                    <a href="https://www.zibll.com/46.html">子比主题详细安装教程/更新教程/首次配置指南<span class="focus-color">【新手必看】</span></a>
                                </h5>
                                <p class="item-tags scroll-x mini-scrollbar"><a class="but c-blue" title="查看更多分类文章" href="https://www.zibll.com/introduction"><i class="fa fa-folder-open-o" aria-hidden="true"></i>子比主题</a><a href="https://www.zibll.com/tag/zibll" title="查看此标签更多文章" class="but"># Zibll</a><a href="https://www.zibll.com/tag/%e5%ad%90%e6%af%94%e4%b8%bb%e9%a2%98" title="查看此标签更多文章" class="but"># 子比主题</a><a href="https://www.zibll.com/tag/%e4%b8%bb%e9%a2%98%e6%95%99%e7%a8%8b" title="查看此标签更多文章" class="but"># 主题教程</a></p><div class="item-meta muted-3-color"><item class="meta-author"><span class="icon-circle">10天前</span></item><div class="meta-right pull-right"><item class="meta-comm"><a data-toggle="tooltip" title="去评论" href="https://www.zibll.com/46.html#respond"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="comment" aria-hidden="true"></i>0</a></item><item class="meta-view"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="view" aria-hidden="true"></i>3208</item><item class="meta-like"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="like" aria-hidden="true"></i>101</item></div></div>
                            </div>
                        </posts><posts class="posts-item ajax-item main-shadow radius8 card">
                            <a class="item-thumbnail" href="https://www.zibll.com/860.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/04/gutengbao-550x229.jpg" alt="Zibll子比主题-古腾堡块-在文章中插入其他文章卡片教程-Zibll子比主题" class="lazyload fit-cover radius8"><div class="abs-right radius"><i class="fa fa-image"></i> 4</div></a><div class="item-body">
                                <h5 class="item-heading text-ellipsis-2">
                                    <a href="https://www.zibll.com/860.html">Zibll子比主题-古腾堡块-在文章中插入其他文章卡片教程<span class="focus-color"></span></a>
                                </h5>
                                <p class="item-tags scroll-x mini-scrollbar"><a class="but c-blue" title="查看更多分类文章" href="https://www.zibll.com/zibll_word/%e5%8f%a4%e8%85%be%e5%a0%a1%e7%bc%96%e8%be%91%e5%99%a8"><i class="fa fa-folder-open-o" aria-hidden="true"></i>古腾堡编辑器</a><a href="https://www.zibll.com/tag/zibll" title="查看此标签更多文章" class="but"># Zibll</a><a href="https://www.zibll.com/tag/%e5%ad%90%e6%af%94%e4%b8%bb%e9%a2%98" title="查看此标签更多文章" class="but"># 子比主题</a><a href="https://www.zibll.com/tag/wordpress" title="查看此标签更多文章" class="but"># Wordpress</a></p><div class="item-meta muted-3-color"><item class="meta-author"><span class="icon-circle">16天前</span></item><div class="meta-right pull-right"><item class="meta-comm"><a data-toggle="tooltip" title="去评论" href="https://www.zibll.com/860.html#respond"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="comment" aria-hidden="true"></i>0</a></item><item class="meta-view"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="view" aria-hidden="true"></i>294</item><item class="meta-like"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="like" aria-hidden="true"></i>26</item></div></div>
                            </div>
                        </posts><posts class="posts-item ajax-item main-shadow radius8 card">
                            <a class="item-thumbnail" href="https://www.zibll.com/853.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/04/gutengbao-550x229.jpg" alt="Zibll子比主题-古腾堡块-隐藏内容模块使用教程-Zibll子比主题" class="lazyload fit-cover radius8"><div class="abs-right radius"><i class="fa fa-image"></i> 3</div></a><div class="item-body">
                                <h5 class="item-heading text-ellipsis-2">
                                    <a href="https://www.zibll.com/853.html">Zibll子比主题-古腾堡块-隐藏内容模块使用教程<span class="focus-color"></span></a>
                                </h5>
                                <p class="item-tags scroll-x mini-scrollbar"><a class="but c-blue" title="查看更多分类文章" href="https://www.zibll.com/zibll_word/%e5%8f%a4%e8%85%be%e5%a0%a1%e7%bc%96%e8%be%91%e5%99%a8"><i class="fa fa-folder-open-o" aria-hidden="true"></i>古腾堡编辑器</a><a href="https://www.zibll.com/tag/zibll" title="查看此标签更多文章" class="but"># Zibll</a><a href="https://www.zibll.com/tag/%e5%ad%90%e6%af%94%e4%b8%bb%e9%a2%98" title="查看此标签更多文章" class="but"># 子比主题</a><a href="https://www.zibll.com/tag/%e5%8f%a4%e8%85%be%e5%a0%a1" title="查看此标签更多文章" class="but"># 古腾堡</a></p><div class="item-meta muted-3-color"><item class="meta-author"><span class="icon-circle">16天前</span></item><div class="meta-right pull-right"><item class="meta-comm"><a data-toggle="tooltip" title="去评论" href="https://www.zibll.com/853.html#respond"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="comment" aria-hidden="true"></i>0</a></item><item class="meta-view"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="view" aria-hidden="true"></i>289</item><item class="meta-like"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="like" aria-hidden="true"></i>26</item></div></div>
                            </div>
                        </posts><posts class="posts-item ajax-item main-shadow radius8 card">
                            <a class="item-thumbnail" href="https://www.zibll.com/767.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/05/vip-cover-550x229.jpg" alt="Zibll子比主题-VIP会员系统详细使用教程-Zibll子比主题" class="lazyload fit-cover radius8"><div class="abs-right radius"><i class="fa fa-image"></i> 9</div></a><div class="item-body">
                                <h5 class="item-heading text-ellipsis-2">
                                    <a href="https://www.zibll.com/767.html">Zibll子比主题-VIP会员系统详细使用教程<span class="focus-color">[新功能]</span></a>
                                </h5>
                                <p class="item-tags scroll-x mini-scrollbar"><a class="but c-blue" title="查看更多分类文章" href="https://www.zibll.com/zibll_word/%e4%b8%bb%e9%a2%98%e5%8a%9f%e8%83%bd"><i class="fa fa-folder-open-o" aria-hidden="true"></i>主题功能</a><a href="https://www.zibll.com/tag/zibll" title="查看此标签更多文章" class="but"># Zibll</a><a href="https://www.zibll.com/tag/%e5%ad%90%e6%af%94%e4%b8%bb%e9%a2%98" title="查看此标签更多文章" class="but"># 子比主题</a><a href="https://www.zibll.com/tag/vip" title="查看此标签更多文章" class="but"># VIP</a></p><div class="item-meta muted-3-color"><item class="meta-author"><span class="icon-circle">31天前</span></item><div class="meta-right pull-right"><item class="meta-comm"><a data-toggle="tooltip" title="去评论" href="https://www.zibll.com/767.html#comments"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="comment" aria-hidden="true"></i>18</a></item><item class="meta-view"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="view" aria-hidden="true"></i>1399</item><item class="meta-like"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="like" aria-hidden="true"></i>39</item></div></div>
                            </div>
                        </posts><posts class="posts-item ajax-item main-shadow radius8 card">
                            <a class="item-thumbnail" href="https://www.zibll.com/720.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/04/youjian-550x229.jpg" alt="子比主题使用使用SMTP发送邮件教程-Zibll子比主题" class="lazyload fit-cover radius8"><div class="abs-right radius"><i class="fa fa-image"></i> 4</div></a><div class="item-body">
                                <h5 class="item-heading text-ellipsis-2">
                                    <a href="https://www.zibll.com/720.html">子比主题使用使用SMTP发送邮件教程<span class="focus-color"></span></a>
                                </h5>
                                <p class="item-tags scroll-x mini-scrollbar"><a class="but c-blue" title="查看更多分类文章" href="https://www.zibll.com/zibll_word/%e4%b8%bb%e9%a2%98%e5%8a%9f%e8%83%bd"><i class="fa fa-folder-open-o" aria-hidden="true"></i>主题功能</a><a href="https://www.zibll.com/tag/zibll" title="查看此标签更多文章" class="but"># Zibll</a><a href="https://www.zibll.com/tag/%e5%ad%90%e6%af%94%e4%b8%bb%e9%a2%98" title="查看此标签更多文章" class="but"># 子比主题</a><a href="https://www.zibll.com/tag/wordpress" title="查看此标签更多文章" class="but"># Wordpress</a></p><div class="item-meta muted-3-color"><item class="meta-author"><span class="icon-circle">2月前</span></item><div class="meta-right pull-right"><item class="meta-comm"><a data-toggle="tooltip" title="去评论" href="https://www.zibll.com/720.html#comments"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="comment" aria-hidden="true"></i>7</a></item><item class="meta-view"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="view" aria-hidden="true"></i>2244</item><item class="meta-like"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="like" aria-hidden="true"></i>10</item></div></div>
                            </div>
                        </posts><posts class="posts-item ajax-item main-shadow radius8 card">
                            <a class="item-thumbnail" href="https://www.zibll.com/689.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/04/gutengbao-550x229.jpg" alt="子比主题编辑器增强-古腾堡编辑器块详解-Zibll子比主题" class="lazyload fit-cover radius8"><div class="abs-right radius"><i class="fa fa-image"></i> 7</div></a><div class="item-body">
                                <h5 class="item-heading text-ellipsis-2">
                                    <a href="https://www.zibll.com/689.html">子比主题编辑器增强-古腾堡编辑器块详解<span class="focus-color">[入门详解]</span></a>
                                </h5>
                                <p class="item-tags scroll-x mini-scrollbar"><a class="but c-blue" title="查看更多分类文章" href="https://www.zibll.com/zibll_word/%e5%8f%a4%e8%85%be%e5%a0%a1%e7%bc%96%e8%be%91%e5%99%a8"><i class="fa fa-folder-open-o" aria-hidden="true"></i>古腾堡编辑器</a><a href="https://www.zibll.com/tag/zibll" title="查看此标签更多文章" class="but"># Zibll</a><a href="https://www.zibll.com/tag/%e5%8f%a4%e8%85%be%e5%a0%a1" title="查看此标签更多文章" class="but"># 古腾堡</a><a href="https://www.zibll.com/tag/%e5%8f%a4%e8%85%be%e5%a0%a1%e7%bc%96%e8%be%91%e5%99%a8" title="查看此标签更多文章" class="but"># 古腾堡编辑器</a></p><div class="item-meta muted-3-color"><item class="meta-author"><span class="icon-circle">2月前</span></item><div class="meta-right pull-right"><item class="meta-comm"><a data-toggle="tooltip" title="去评论" href="https://www.zibll.com/689.html#comments"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="comment" aria-hidden="true"></i>5</a></item><item class="meta-view"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="view" aria-hidden="true"></i>1240</item><item class="meta-like"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="like" aria-hidden="true"></i>28</item></div></div>
                            </div>
                        </posts><posts class="posts-item ajax-item main-shadow radius8 card">
                            <a class="item-thumbnail" href="https://www.zibll.com/683.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/04/tu1-550x229.jpg" alt="子比主题文章图片灯箱功能详解-Zibll子比主题" class="lazyload fit-cover radius8"><div class="abs-right radius"><i class="fa fa-image"></i> 4</div></a><div class="item-body">
                                <h5 class="item-heading text-ellipsis-2">
                                    <a href="https://www.zibll.com/683.html">子比主题文章图片灯箱功能详解<span class="focus-color"></span></a>
                                </h5>
                                <p class="item-tags scroll-x mini-scrollbar"><a class="but c-blue" title="查看更多分类文章" href="https://www.zibll.com/zibll_word/%e4%b8%bb%e9%a2%98%e5%8a%9f%e8%83%bd"><i class="fa fa-folder-open-o" aria-hidden="true"></i>主题功能</a><a href="https://www.zibll.com/tag/zibll" title="查看此标签更多文章" class="but"># Zibll</a><a href="https://www.zibll.com/tag/%e5%ad%90%e6%af%94%e4%b8%bb%e9%a2%98" title="查看此标签更多文章" class="but"># 子比主题</a><a href="https://www.zibll.com/tag/wordpress" title="查看此标签更多文章" class="but"># Wordpress</a></p><div class="item-meta muted-3-color"><item class="meta-author"><span class="icon-circle">2月前</span></item><div class="meta-right pull-right"><item class="meta-comm"><a data-toggle="tooltip" title="去评论" href="https://www.zibll.com/683.html#respond"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="comment" aria-hidden="true"></i>0</a></item><item class="meta-view"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="view" aria-hidden="true"></i>556</item><item class="meta-like"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="like" aria-hidden="true"></i>13</item></div></div>
                            </div>
                        </posts><div class="text-center theme-pagination ajax-pag"><div class="next-page ajax-next"><a href="https://www.zibll.com/page/2"><i class="fa fa-arrow-right"></i>加载更多</a></div></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="container fluid-widget"><div class="theme-box"><div class="box-body notop"><div class="title-theme">主题文档</div></div><div class="box-body posts-mini-lists zib-widget"><div class="posts-mini"><a class="item-thumbnail" href="https://www.zibll.com/872.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/03/主题教程-1-600x375.jpg" alt="Zibll子比主题-方便快捷的前端页面设置功能简介-Zibll子比主题" class="lazyload fit-cover radius8"></a><div class="posts-mini-con"><div class="item-heading text-ellipsis-2"><a href="https://www.zibll.com/872.html">Zibll子比主题-方便快捷的前端页面设置功能简介<span class="focus-color">[教程]</span></a></div><div class="item-meta muted-3-color"><item class="meta-author"><a href="https://www.zibll.com/author/1">老唐</a><span class="icon-spot">10天前</span></item></div></div></div><div class="posts-mini"><a class="item-thumbnail" href="https://www.zibll.com/683.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/04/tu1-550x229.jpg" alt="子比主题文章图片灯箱功能详解-Zibll子比主题" class="lazyload fit-cover radius8"></a><div class="posts-mini-con"><div class="item-heading text-ellipsis-2"><a href="https://www.zibll.com/683.html">子比主题文章图片灯箱功能详解<span class="focus-color"></span></a></div><div class="item-meta muted-3-color"><item class="meta-author"><a href="https://www.zibll.com/author/1">老唐</a><span class="icon-spot">2月前</span></item></div></div></div><div class="posts-mini"><a class="item-thumbnail" href="https://www.zibll.com/529.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/03/主题教程-1-600x375.jpg" alt="主题导航菜单设置-Zibll子比主题" class="lazyload fit-cover radius8"></a><div class="posts-mini-con"><div class="item-heading text-ellipsis-2"><a href="https://www.zibll.com/529.html">主题导航菜单设置<span class="focus-color"></span></a></div><div class="item-meta muted-3-color"><item class="meta-author"><a href="https://www.zibll.com/author/1">老唐</a><span class="icon-spot">3月前</span></item></div></div></div><div class="posts-mini"><a class="item-thumbnail" href="https://www.zibll.com/617.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/04/image-6-1024x737.png" alt="zibll子比主题一步实现网站全局变灰教程-Zibll子比主题" class="lazyload fit-cover radius8"></a><div class="posts-mini-con"><div class="item-heading text-ellipsis-2"><a href="https://www.zibll.com/617.html">zibll子比主题一步实现网站全局变灰教程<span class="focus-color"></span></a></div><div class="item-meta muted-3-color"><item class="meta-author"><a href="https://www.zibll.com/author/1">老唐</a><span class="icon-spot">2月前</span></item></div></div></div><div class="posts-mini"><a class="item-thumbnail" href="https://www.zibll.com/645.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/04/39266182_p0-533x300.jpg" alt="老用户官网导入授权信息详细教程-Zibll子比主题" class="lazyload fit-cover radius8"></a><div class="posts-mini-con"><div class="item-heading text-ellipsis-2"><a href="https://www.zibll.com/645.html">老用户官网导入授权信息详细教程<span class="focus-color"></span></a></div><div class="item-meta muted-3-color"><item class="meta-author"><a href="https://www.zibll.com/author/1">老唐</a><span class="icon-spot">2月前</span></item></div></div></div><div class="posts-mini"><a class="item-thumbnail" href="https://www.zibll.com/689.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/04/gutengbao-550x229.jpg" alt="子比主题编辑器增强-古腾堡编辑器块详解-Zibll子比主题" class="lazyload fit-cover radius8"></a><div class="posts-mini-con"><div class="item-heading text-ellipsis-2"><a href="https://www.zibll.com/689.html">子比主题编辑器增强-古腾堡编辑器块详解<span class="focus-color">[入门详解]</span></a></div><div class="item-meta muted-3-color"><item class="meta-author"><a href="https://www.zibll.com/author/1">老唐</a><span class="icon-spot">2月前</span></item></div></div></div><div class="posts-mini"><a class="item-thumbnail" href="https://www.zibll.com/580.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/03/zhifu-3-428x300.jpg" alt="Zibll子比主题付费阅读、付费资源功能详解-Zibll子比主题" class="lazyload fit-cover radius8"></a><div class="posts-mini-con"><div class="item-heading text-ellipsis-2"><a href="https://www.zibll.com/580.html">Zibll子比主题付费阅读、付费资源功能详解<span class="focus-color">[图文教程]</span></a></div><div class="item-meta muted-3-color"><item class="meta-author"><a href="https://www.zibll.com/author/1">老唐</a><span class="icon-spot">3月前</span></item></div></div></div><div class="posts-mini"><a class="item-thumbnail" href="https://www.zibll.com/886.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/07/主题教程-480x300.jpg" alt="Zibll子比主题-海报分享功能简介以及图片跨域问题解决方法-Zibll子比主题" class="lazyload fit-cover radius8"></a><div class="posts-mini-con"><div class="item-heading text-ellipsis-2"><a href="https://www.zibll.com/886.html">Zibll子比主题-海报分享功能简介以及图片跨域问题解决方法<span class="focus-color"></span></a></div><div class="item-meta muted-3-color"><item class="meta-author"><a href="https://www.zibll.com/author/1">老唐</a><span class="icon-spot">6天前</span></item></div></div></div><div class="posts-mini"><a class="item-thumbnail" href="https://www.zibll.com/547.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/03/主题教程-1-600x375.jpg" alt="子比主题全站使用阿里巴巴Iconfont图标详细图文教程-Zibll子比主题" class="lazyload fit-cover radius8"></a><div class="posts-mini-con"><div class="item-heading text-ellipsis-2"><a href="https://www.zibll.com/547.html">子比主题全站使用阿里巴巴Iconfont图标详细图文教程<span class="focus-color"></span></a></div><div class="item-meta muted-3-color"><item class="meta-author"><a href="https://www.zibll.com/author/1">老唐</a><span class="icon-spot">3月前</span></item></div></div></div><div class="posts-mini"><a class="item-thumbnail" href="https://www.zibll.com/655.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/03/zhifu-3-428x300.jpg" alt="子比主题接入支付宝当面付详细图文教程-Zibll子比主题" class="lazyload fit-cover radius8"></a><div class="posts-mini-con"><div class="item-heading text-ellipsis-2"><a href="https://www.zibll.com/655.html">子比主题接入支付宝当面付详细图文教程<span class="focus-color"></span></a></div><div class="item-meta muted-3-color"><item class="meta-author"><a href="https://www.zibll.com/author/1">老唐</a><span class="icon-spot">2月前</span></item></div></div></div><div class="posts-mini"><a class="item-thumbnail" href="https://www.zibll.com/675.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/04/gutengbao-550x229.jpg" alt="子比主题使用古腾堡块在文章中插入幻灯片教程-Zibll子比主题" class="lazyload fit-cover radius8"></a><div class="posts-mini-con"><div class="item-heading text-ellipsis-2"><a href="https://www.zibll.com/675.html">子比主题使用古腾堡块在文章中插入幻灯片教程<span class="focus-color"></span></a></div><div class="item-meta muted-3-color"><item class="meta-author"><a href="https://www.zibll.com/author/1">老唐</a><span class="icon-spot">2月前</span></item></div></div></div><div class="posts-mini"><a class="item-thumbnail" href="https://www.zibll.com/46.html"><img src="https://zibll.com/wp-content/themes/zibll/img/thumbnail.svg" data-src="https://oss.zibll.com/zibll.com/2020/03/安装教程-600x375.jpg" alt="子比主题详细安装教程/更新教程/首次配置指南-Zibll子比主题" class="lazyload fit-cover radius8"></a><div class="posts-mini-con"><div class="item-heading text-ellipsis-2"><a href="https://www.zibll.com/46.html">子比主题详细安装教程/更新教程/首次配置指南<span class="focus-color">【新手必看】</span></a></div><div class="item-meta muted-3-color"><item class="meta-author"><a href="https://www.zibll.com/author/1">老唐</a><span class="icon-spot">4月前</span></item></div></div></div></div></div></div>
    <div class="notyn"></div>
    <footer class="footer">
        <div class="container-fluid container-footer">
            <ul class="list-inline">
                <li class="hidden-xs" style="max-width: 300px;">
                    <p>
                        <a class="footer-logo" href="https://www.zibll.com" title="更优雅的Wordpress网站主题-Zibll子比主题-子比主题官方网站">
                            <img src="https://www.zibll.com/wp-content/themes/zibll/img/thumbnail-sm.svg" data-src="https://oss.zibll.com/zibll.com/2020/03/logo.png" switch-src="https://www.zibll.com/wp-content/themes/zibll/img/logo_dark.png" alt="更优雅的Wordpress网站主题-Zibll子比主题-子比主题官方网站" class="lazyload" height="40">
                        </a>
                    </p><div class="footer-muted em09">Zibll 子比主题专为博客、自媒体、资讯类的网站设计开发，简约优雅的设计风格，全面的前端用户功能，简单的模块化配置，欢迎您的体验</div>
                </li>
                <li style="max-width: 550px;">
                    <p class="fcode-links">
                        <a href="https://www.zibll.com/friendship-links">友情链接</a>
                        <a href="https://zibll.com">免责声明</a>
                        <a href="https://zibll.com">广告合作</a>
                        <a href="https://zibll.com">关于我们</a>
                    </p><p class="footer-muted em09">Copyright &copy;&nbsp;2020&nbsp;·&nbsp;<a href="https://zibll.com">子比主题</a>&nbsp;·&nbsp;<a target="_blank" href="http://www.beian.miit.gov.cn/">蜀ICP备20005655号</a></p><div class="footer-contact"><a class="hover-show" href="javascript:;"><i data-class="icon" data-viewBox="0 0 1024 1024" data-svg="d-wechat" aria-hidden="true"></i><div class="hover-show-con footer-wechat-img"><img class="lazyload" height="100" src="https://www.zibll.com/wp-content/themes/zibll/img/thumbnail-sm.svg" data-src="https://oss.zibll.com/zibll.com/2020/03/qrcode.png"></div></a><a data-toggle="tooltip" title="QQ联系" href="https://wpa.qq.com/msgrd?v=3&uin=770349780&site=qq&menu=yes"><i data-class="icon" data-viewBox="-50 0 1100 1100" data-svg="d-qq" aria-hidden="true"></i></a><a data-toggle="tooltip" title="发邮件" href="/cdn-cgi/l/email-protection#5c6b6b6c6f68656b646c1c0d0d721f1311"><i data-class="icon" data-viewBox="-20 80 1024 1024" data-svg="d-email" aria-hidden="true"></i></a></div>
                </li>
                <li class="">
                    <div class="footer-miniimg" data-toggle="tooltip" title="官方沟通群">
                        <p>
                            <img class="lazyload" src="https://www.zibll.com/wp-content/themes/zibll/img/thumbnail-sm.svg" data-src="https://oss.zibll.com/zibll.com/2020/03/QQ群.jpg">
                        </p>
                        <span class="footer-muted em09">官方沟通群</span>
                    </div><div class="footer-miniimg" data-toggle="tooltip" title="微信联系">
                        <p>
                            <img class="lazyload" src="https://www.zibll.com/wp-content/themes/zibll/img/thumbnail-sm.svg" data-src="https://oss.zibll.com/zibll.com/2020/03/qrcode.png">
                        </p>
                        <span class="footer-muted em09">微信联系</span>
                    </div>
                </li>
            </ul>
            <div class="">
                <p class="footer-conter"></p>
            </div>
        </div>
    </footer>

    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?820fa96d743d5c662a1b683affc66a35";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>


    <script type="text/javascript">
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>


    <script type="text/javascript">
        window._win = {
            www: 'https://www.zibll.com',
            uri: 'https://www.zibll.com/wp-content/themes/zibll',
            ver: '3.2',
            ajaxpager: '',
            ajax_trigger: '<i class="fa fa-arrow-right"></i>加载更多',
            ajax_nomore: '没有更多内容了',
            qj_loading: '',
            url_rp: 'https://www.zibll.com/resetpassword',
            highlight_kg: '1',
            highlight_hh: '',
            highlight_btn: '',
            highlight_zt: 'enlighter',
            up_max_size: '4'
        }
    </script>

    <script type="text/javascript">
        console.log("get_num_queries：137，timer_stop 0.54920");
    </script>
    <div class="float-right text-center"><a class="main-shadow muted-2-color ontop radius8 fade" title="返回顶部" href="javascript:(scrollTo());"><i class="fa fa-arrow-up"></i></a></div> <div class="modal fade" id="u_sign" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="max-width:320px;margin: auto;" role="document">
            <div class="modal-content">
                <div class="sign">
                    <div class="sign-content modal-body">
                        <button class="close" data-dismiss="modal">
                            <i data-svg="close" data-class="ic-close" data-viewbox="0 0 1024 1024"></i>
                        </button>
                        <div class="text-center">
                            <div class="sign-img box-body"><img src="https://www.zibll.com/wp-content/themes/zibll/img/thumbnail-sm.svg" data-src="https://oss.zibll.com/zibll.com/2020/03/logo.png" switch-src="https://www.zibll.com/wp-content/themes/zibll/img/logo_dark.png" alt="更优雅的Wordpress网站主题-Zibll子比主题-子比主题官方网站" class="lazyload"></div>
                            <ul class="list-inline splitters">
                                <li class="active"><a href="#tab-sign-in" data-toggle="tab">登录</a></li>
                                <li><a href="#tab-sign-up" data-toggle="tab">注册</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="tab-sign-in">
                                <form id="sign-in" class="wyz">
                                    <ul>
                                        <li class="relative line-form">
                                            <input type="text" name="username" class="line-form-input" tabindex="1" placeholder="用户名或邮箱">
                                            <i class="line-form-line"></i>
                                        </li>
                                        <li class="relative line-form">
                                            <input type="password" name="password" class="line-form-input" tabindex="2" placeholder="登录密码">
                                            <div class="abs-right passw muted-color"><i class="fa-fw fa fa-eye"></i></div>
                                            <i class="line-form-line"></i>
                                        </li>
                                        <li class="relative line-form">
                                            <input type="text" name="canvas_yz" class="line-form-input" autocomplete="off" tabindex="3" placeholder="验证码">
                                            <span class="yztx abs-right"><canvas id="user_yz_canvas1" width="92" height="38"></canvas></span>
                                            <div class="abs-right match-ok muted-color"><i class="fa-fw fa fa-check-circle"></i></div>
                                            <i class="line-form-line"></i>
                                        </li>
                                        <li class="relative line-form">
                                            <label class="muted-color em09">
                                                <input type="checkbox" checked="checked" tabindex="4" name="remember" value="forever">
                                                记住登录
                                            </label>
                                            <a class="abs-right muted-2-color" href="https://www.zibll.com/resetpassword">找回密码</a>
                                        </li>
                                    </ul>
                                    <div class="box-body">
                                        <input type="hidden" name="action" value="signin">
                                        <button type="button" class="but radius jb-blue padding-lg signsubmit-loader btn-block"><i class="fa fa-sign-in mr10"></i>登录</button>
                                    </div>
                                    <p class="social-separator separator muted-3-color em09">社交帐号登录</p><div class="social_loginbar"><a title="QQ登录" href="https://www.zibll.com/oauth/qq?rurl=https://www.zibll.com/" class="social-login-item qq button-lg"><i class="fa fa-qq"></i>QQ登录</a><a title="GitHub登录" href="https://www.zibll.com/oauth/github?rurl=https://www.zibll.com/" class="social-login-item github button-lg"><i class="fa fa-github"></i>GitHub登录</a></div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="tab-sign-up">
                                <form id="sign-up">
                                    <ul>
                                        <li class="relative line-form">
                                            <input type="text" name="name" class="line-form-input" tabindex="1" placeholder="设置用户名">
                                            <i class="line-form-line"></i>
                                        </li>
                                        <li class="relative line-form">
                                            <input type="text" name="email" class="line-form-input" tabindex="2" placeholder="邮箱">
                                            <i class="line-form-line"></i>
                                        </li>
                                        <li class="relative line-form signup-captch">
                                            <input type="text" name="captch" class="line-form-input" autocomplete="off" tabindex="3" placeholder="验证码">
                                            <span class="yztx abs-right"><button type="button" class="but jb-blue captchsubmit">发送验证码</button></span>
                                            <div class="abs-right match-ok muted-color"><i class="fa-fw fa fa-check-circle"></i></div>
                                            <i class="line-form-line"></i>
                                            <input type="hidden" name="captch_type" value="email">
                                        </li>
                                        <li class="relative line-form">
                                            <input type="password" name="password2" class="line-form-input" tabindex="3" placeholder="设置密码">
                                            <div class="abs-right passw muted-color"><i class="fa-fw fa fa-eye"></i></div>
                                            <i class="line-form-line"></i>
                                        </li>
                                        <li class="relative line-form">
                                            <input type="password" name="repassword" class="line-form-input" tabindex="4" placeholder="重复密码">
                                            <div class="abs-right passw muted-color"><i class="fa-fw fa fa-eye"></i></div>
                                            <i class="line-form-line"></i>
                                        </li>
                                        <li class="relative line-form">
                                            <input type="text" name="canvas_yz" class="line-form-input" autocomplete="off" tabindex="5" placeholder="验证码">
                                            <span class="yztx abs-right"><canvas id="user_yz_canvas2" width="92" height="38"></canvas></span>
                                            <div class="abs-right match-ok muted-color"><i class="fa-fw fa fa-check-circle"></i></div>
                                            <i class="line-form-line"></i>
                                        </li>
                                    </ul>
                                    <div class="box-body">
                                        <input type="hidden" name="action" value="signup">
                                        <button type="button" class="but radius jb-green padding-lg signsubmit-loader btn-block"><i data-class="icon mr10" data-viewBox="0 0 1024 1024" data-svg="signup" aria-hidden="true"></i>注册</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="sign-tips"></div>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var zibpay_ajax_url = "https:\/\/www.zibll.com\/wp-admin\/admin-ajax.php";
/* ]]> */
    </script>
    <script type='text/javascript' src='https://www.zibll.com/wp-content/themes/zibll/zibpay/assets/js/pay.js?ver=3.2'></script>
    <script type='text/javascript' src='https://www.zibll.com/wp-content/themes/zibll/js/libs/bootstrap.min.js?ver=3.2'></script>
    <script type='text/javascript' src='https://www.zibll.com/wp-content/themes/zibll/js/loader.js?ver=3.2'></script>
    <script type='text/javascript' src='https://www.zibll.com/wp-includes/js/wp-embed.min.js?ver=5.3.4'></script>
</body>
</html>