
<aside class="asideBar">
    <div class="kzquickLinkBox">
        <a class="kzquickLi kzquickLiMember" href="/member/index"  title="会员">会员</a>
       
    </div>
    <a class="kzquickGotop" href="#this" title="返回顶部"></a>
</aside>